{% extends "accounts/password_reset_base.html" %}
{% load i18n %}

{% block title %}{% translate "Password reset complete" %} | STATZ Admin{% endblock %}

{% block content %}
<div id="content-main" class="statz-admin-auth">
  <h1>{% translate "Password reset complete" %}</h1>
  <p>{% translate "Your password has been changed. You can now sign in to the admin." %}</p>
  <p class="statz-admin-auth__link">
    <a href="{% url 'admin:login' %}">{% translate "Sign in" %}</a>
  </p>
</div>
{% endblock %}
