{% extends "accounts/password_reset_base.html" %}
{% load i18n %}

{% block title %}{% translate "Choose a new password" %} | STATZ Admin{% endblock %}

{% block content %}
<div id="content-main" class="statz-admin-auth">
  {% if validlink %}
    <h1>{% translate "Choose a new password" %}</h1>
    <p>{% translate "Enter your new password twice to confirm it." %}</p>
    <form method="post" id="login-form">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-row">
        {{ form.new_password1.errors }}
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        {% if form.new_password1.help_text %}
          <div class="help">{{ form.new_password1.help_text|safe }}</div>
        {% endif %}
      </div>
      <div class="form-row">
        {{ form.new_password2.errors }}
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
      </div>
      <div class="submit-row">
        <input type="submit" value="{% translate 'Change password' %}">
      </div>
    </form>
  {% else %}
    <h1>{% translate "Reset link unavailable" %}</h1>
    <p>
      {% translate "This password reset link is invalid or has already been used. Request a new link to continue." %}
    </p>
    <p class="statz-admin-auth__link">
      <a href="{% url 'accounts:password_reset' %}">{% translate "Request a new reset link" %}</a>
    </p>
  {% endif %}
</div>
{% endblock %}
