{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block bodyclass %}{{ block.super }} login statz-admin-auth-page{% endblock %}
{% block usertools %}{% endblock %}
{% block nav-global %}{% endblock %}
{% block nav-sidebar %}{% endblock %}
{% block content_title %}{% endblock %}
{% block nav-breadcrumbs %}{% endblock %}

{% block branding %}
<div id="site-name" class="statz-admin-branding">
  <a href="{% url 'admin:index' %}" class="statz-admin-branding__link">
    <img
      src="{% static 'images/StatzCorpColorFINAL.png' %}"
      alt="STATZ Corporation"
      class="statz-admin-branding__logo"
    >
    <span class="statz-admin-branding__title">{% translate "STATZ Corporation Administration" %}</span>
  </a>
</div>
{% endblock %}
