{% extends "accounts/password_reset_base.html" %}
{% load i18n %}

{% block title %}{% translate "Reset password" %} | STATZ Admin{% endblock %}

{% block content %}
<div id="content-main" class="statz-admin-auth">
  <h1>{% translate "Reset your password" %}</h1>
  <p>
    {% translate "Enter the email address associated with your staff account. If it matches an active account, we will send a secure reset link." %}
  </p>

  <form method="post" id="login-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-row">
      {{ form.email.errors }}
      {{ form.email.label_tag }}
      {{ form.email }}
    </div>
    <div class="submit-row">
      <input type="submit" value="{% translate 'Send reset link' %}">
    </div>
  </form>

  <p class="statz-admin-auth__link">
    <a href="{% url 'admin:login' %}">{% translate "Return to admin login" %}</a>
  </p>
</div>
{% endblock %}
